body{
    background-color: #17252A;
}
#maincontent{
    align-self: center;
    width: 100%;
}
.centercell{
    width: 30%;
    background-color: #3AAFA9;
}
.bumper{
    width: 50px;
}
.maintablerow{
    height: 101px;
    min-height: 100px;
}
