body{
    background-color: grey;
}
#maincontent{
    align-self: center;
    display: grid;
}
.centercell{
    min-width: 200px;  
    background-color: slategray;
}
.bumper{
    width: 50px;
}
.maintablerow{
    height: 150px;
    min-height: 100px;
}
